<%-include('./header.ejs')%>

    <br>
    <div class="container mt-5 mb-5">
        <h1 class="text-center a mt-5 mb-5" style="color: goldenrod;">about page</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow mt-4">
                    <img src="image\WhatsApp Image 2024-07-26 at 19.00.31_21bf9d64.jpg" alt="" height="500">
                </div>
            </div>

            <div class="col-md-8">
                <p class="e" style="color: chocolate;"> Hii i m Abhishek singh , web designer so check my website blog project, & create your blog and share your memory,
                    I'd be happy to write a blog post on a topic of your choice. Please provide the topic you'd like me to write about and any specific requirements or guidelines you have, such as:

                    - Tone (e.g. formal, informal, humorous, etc.)
                    - Length (e.g. word count, number of paragraphs, etc.)
                    - Target audience
                    - Any specific points or themes you'd like me to cover
                    
                    Once I have this information, I'll get started on writing a engaging and informative blog post for you!
                    </p>
            </div>
        </div><!--row end-->

    </div><!--container end -->

    <br><br><br>

    <%-include('./footer.ejs')%>